<footer id="footer">
  <div class="container">
      <div class="row bg-primary">
          <div class="col-md-4">
              <div class="footer-box">
                  <div class="footer-title">
                      <h5 style="margin-bottom: 10px;">Download Our Mobile App</h5>
                  </div>
                  <div class="footer-desc">
                      <p>Molestiae reiciendis neque arcu! Tempor reprehenderit accusantium quibusdam iste accusan.</p>
                  </div>
                  <div class="app-img">
                      <div class="app-store"><a href="#"><img src="D:\Project\online-antique-frontend-angular-app\antique-store\src\assets\images\cam1.jfif" alt="" /></a></div>
                      <div class="app-store"><a href="#"><img src="D:\Project\online-antique-frontend-angular-app\antique-store\src\assets\images\cam2.jfif" alt="" /></a></div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="footer-box">
                  <div class="footer-title">
                      <div class="footer-title">
                        <h5 style="margin-bottom: 10px;">Our Location</h5>
                    </div>
                  </div>
                  <div class="footer-desc">
                      <p style="text-align: center;">Molestiae reiciendis neque arcu! Tempor reprehenderit accusantium quibusdam iste accusan.</p>
                  </div>
              </div>
          </div>
          <div class="col-md-2">
              <div class="footer-box">
                  <div class="footer-title">
                      <h5>Quick Links</h5>
                  </div>
                  <div class="footer-desc">
                      <ul>
                          <li><a href="#">Know More About Us</a></li>
                          <li><a href="#">Visit Store</a></li>
                          <li><a href="#">Let's Connect</a></li>
                          <li><a href="#">Locate Store</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-2">
              <div class="footer-box">
                  <div class="footer-title">
                      <h5>Sites Links</h5>
                  </div>
                  <div class="footer-desc">
                      <ul>
                          <li><a href="#">Privacy Policy</a></li>
                          <li><a href="#">Shipping Details</a></li>
                          <li><a href="#">Offer Coupons</a></li>
                          <li><a href="#">Terms & Conditions</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
