.card {
    height: 70vh;
    margin: 25px;
    padding: 25px;
}

.center img {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    height: 162px;
    width: 250px;
    margin: 20px 0px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-table {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-color: rgb(250, 211, 226);
    background-clip: border-box;
    border: 1px solid rgba(41, 38, 38, 0.2);
    border-radius: .25rem;
}

.center .btn {
    font-size: 14px !important;
    margin-top: 20px !important;
    font-weight: 400;
    padding: 12px 72px;
    border-radius: 3px !important;
}

form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    padding: 10px 0 12px;
    text-align: center;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.value-button:hover {
    cursor: pointer;
}

.increase_quantity,
.decrease_quantity {
    cursor: pointer;
}

form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
    background: red;
    color: white;
    width: 10px;
}

form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
    background: green;
    color: white;
}


/* th {
    text-align: center;
}


/* this style because xtra small buttons removed from Bootstrap 4+ */

.btn {
    font-size: .5em;
    font-weight: bold;
}

.btn-group {
    margin-left: 25%;
    border-color: #ddd;
    background-color: hotpink;
}


/* label {
font-weight: bold;
} */


/* subtotal
.mt-2 {
font-weight: bold;
} */


/* img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15rem;
} */