<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="margin-top: 10px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Antique Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
   </button>
        <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav">
                <li class="nav-item active"> <a class="nav-link" routerLink="">Home </a> </li>
                <li class="nav-item"><a class="nav-link" routerLink="/login"> Login </a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/products">Products</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/orders">Order History</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/reviews">Reviews</a></li>
                <!-- <li class="nav-item dropdown btn-group dropend">
                    <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown">Category</a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let cat of category">
                            <a [routerLink]="['/category', cat.categoryid]">
                                <h4 style="margin-top: 20px;" routerLinkActive="active">{{cat.categoryname}}</h4>
                            </a>
                        </li>
                    </ul>
                </li> -->
                <li>
                    <button class="cart" style="margin-left: 750px;" routerLink="/cart" class="btn btn-primary">

                    <!-- <i style="font-size: 30px;" class="assets/logo.png"></i> -->


                      <i style="font-size: 40px;" class="fas fa-cart-plus"></i>

                      <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>


                  </button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="search-form">

    <!-- Side-Nav -->
    <div class="row">
        <div class="col-md-3">
            <div class="d-flex justify-content-between" style="height: 1400px;">
                <ul class="nav flex-column text-white w-100">
                    <h1>Category</h1>
                    <li href="#" class="nav-link" *ngFor="let cat of category">
                        <i class="bx bxs-dashboard"></i>
                        <a [routerLink]="['/category', cat.categoryid]">
                            <h4 style="margin-top: 20px;" routerLinkActive="active">{{cat.categoryname}}</h4>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <!-- <div class="col-md-9">
            <app-header></app-header>
            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </div>
    </div> -->
