button, a {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  /* -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease; */
}
