<section id="head">
  <div class="container">
      <div class="row">
          <div class="col-md-6"><img class="head-img" src="./../assets/images/bg.jpg" alt="" /></div>
          <div class="col-md-6 head-text" style="margin-top: 10px;">
              <h6>BEST QUALITY PRODUCTS</h6>
              <h1>Join the Antique Movement!</h1>
              <p>Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sapien.</p>
              <button class="btn btn-outline-primary">Shop Now</button>
          </div>
      </div>
  </div>
</section>

<section id="shiping">
  <div class="container">
      <div class="row">
          <div class="col-md-3">
              <div class="shipping-box">
                  <div class="box-icon"><i class="fas fa-truck"></i></div>
                  <div class="box-title">
                      <h3>Free Shipping</h3>
                      <p>above $5 only</p>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="shipping-box">
                  <div class="box-icon"><i class="far fa-address-book"></i></div>
                  <div class="box-title">
                      <h3>Real Products</h3>
                      <p>100% guarantee</p>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="shipping-box">
                  <div class="box-icon"><i class="fas fa-recycle"></i></div>
                  <div class="box-title">
                      <h3>Huge Savings</h3>
                      <p>at lowest price</p>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="shipping-box">
                  <div class="box-icon"><i class="fas fa-recycle"></i></div>
                  <div class="box-title">
                      <h3>Easy Returns</h3>
                      <p>Easy return in 7 days</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section id="Best-selling">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="title">
                  <h1>Best Selling Products</h1>
              </div>
          </div>
          <div class="row">
              <div class="col-md-3">
                  <div class="products">
                      <div class="product-img"><img src="" alt="" /></div>
                      <div class="product-desc">
                          <div class="product-name"><a routerLink="/products/1"><h4>1956's Car</h4></a></div>
          <div class="product-rating"><img src="" alt="" /></div>
                          <div class="product-price">
                              <h5>$35.00</h5>
          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="products">
                      <div class="product-img"><img src="" alt="" /></div>
                      <div class="product-desc">
                          <div class="product-name"><a routerLink="/products/8"><h4>1980's Bell</h4></a></div>
          <div class="product-rating"><img src="" alt="" /></div>
                          <div class="product-price">
                              <h5>$35.00</h5>
          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="products">
                      <div class="product-img"><img src="" alt="" /></div>
                      <div class="product-desc">
                          <div class="product-name"><a routerLink="/products/9"><h4>1979's Watch</h4></a></div>
          <div class="product-rating"><img src="" alt="" /></div>
                          <div class="product-price">
                              <h5>$35.00</h5>
          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="products">
                      <div class="product-img"><img src="" alt="" /></div>
                      <div class="product-desc">
                          <div class="product-name"><a routerLink="/category/3"><h4>Collection of Books</h4></a></div>
          <div class="product-rating"><img src="" alt="" /></div>
                          <div class="product-price">
                              <h5>$35.00</h5>
          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/e05090259d.js" crossorigin="anonymous"></script>
